{% extends '../base/base.html' %}
{% block content %}

<nav aria-label="breadcrumb" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
            <li class="breadcrumb-item">Add Income</li>
        </ol>
    </div>
</nav>
<div class="card mt-5">
    <div class="card-body">
        <form action="{% url 'add_income' %}" method="POST">
            {% csrf_token %}
            <label for="" class="from-label">Ammount</label>
            <input type="text" class="form-control mb-3" name="ammount" value="{{ values.ammount }}">

            <label for="" class="from-label">Description</label>
            <input type="text" class="form-control mb-3" name="description" value="{{ values.description }}">

            <label for="" class="from-label">Source</label>
            <select name="source" id="" class="form-select mb-3">
                {% for source in sources %}
                <option 
                    value="{{ source.name }}" 
                    name="source" {% if values.category == source.name %} selected {% endif %}> 
                    {{ source.name }}
                </option>
                {% endfor %}
            </select>

            <label for="" class="from-label">Date</label>
            <input type="date" class="form-control mb-3" name="date">

            <input type="submit" value="submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}