{% extends '../base/base.html' %}
{% block content %}

<nav aria-label="breadcrumb" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item">Edit Expense</li>
        </ol>
    </div>
</nav>
<div class="card mt-5">
    
    <div class="card-body">
        <form action="{% url 'edit_expense' expense.id %}" method="POST">
            {% csrf_token %}
            <label for="" class="from-label">Ammount</label>
            <input type="text" class="form-control mb-3" name="ammount" value="{{ values.ammount }}">

            <label for="" class="from-label">Description</label>
            <input type="text" class="form-control mb-3" name="description" value="{{ values.description }}">

            <label for="" class="from-label">Category</label>
            <select name="category" id="" class="form-select mb-3">
                {% for category in categories %}
                <option 
                    value="{{ category.name }}" 
                    name="category" {% if values.category == category.name %} selected {% endif %}> 
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>

            <label for="" class="from-label">Date</label>
            <input type="date" class="form-control mb-3" name="date">

            <input type="submit" value="Update" class="btn btn-primary">
        </form>
        <form action="{% url 'delete_expense' expense.id %}"><input type="submit" value="Delete" class="btn btn-danger"></form>
    </div>
</div>

{% endblock %}